*.bak
*.lo
*.log
*.o
*.trs
*~
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
config.log
config.status
configure
libtool
libu2f-server-*.tar.xz*
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/basic
pam_u2f.la
man/pam_u2f.8
pamu2fcfg/pamu2fcfg
man/pamu2fcfg.1
