*.bak
*.cred
*.l[ao]
*.log
*.o
*.trs
*~
.deps
.dirstamp
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
build/
config.log
config.status
configure
fuzz/fuzz_format_parsers
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
man/pam_u2f.8
man/pamu2fcfg.1
pamu2fcfg/cmdline.c
pamu2fcfg/cmdline.h
pamu2fcfg/pamu2fcfg
tests/.deps/
tests/dlsym_check
tests/expand
tests/get_devices
