name: linux

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-24.04, cc: gcc-13 }
          - { os: ubuntu-24.04, cc: clang-18 }
          - { os: ubuntu-22.04, cc: gcc-12 }
          - { os: ubuntu-22.04, cc: clang-15 }
          - { os: ubuntu-20.04, cc: gcc-10 }
          - { os: ubuntu-20.04, cc: clang-11 }
    steps:
    - uses: actions/checkout@v4
    - name: dependencies
      env:
        CC: ${{ matrix.cc }}
      run: |
        sudo apt -q update
        sudo apt install --no-install-recommends -q -y \
          asciidoc-base autoconf automake cmake docbook-xsl git2cl libfido2-dev \
          libpam-dev libtool ninja-build pkg-config xsltproc
        if [ "${CC%-*}" == "clang" ]; then
          sudo apt install -q -y ${CC%-*}-tools-${CC#clang-}
        else
          sudo apt install -q -y "${CC}"
        fi
    - name: build
      env:
        CC: ${{ matrix.cc }}
      run: |
        /bin/bash -eux build-aux/ci/build-linux-${CC%-*}.sh
    - name: distcheck
      env:
        CC: ${{ matrix.cc }}
      run: |
        /bin/bash -eux build-aux/ci/distcheck.sh
    - name: build_cmake
      env:
        CC: ${{ matrix.cc }}
      run: . ./build-aux/ci/cmake.sh
